HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

node_modules/
frontend/node_modules/
**/build/
**/dist/
**/.gradle/

## application-oauth.yml ##
src/main/resources/application-oauth.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


application.yml
docker-compose.yml
Dockerfile
frontendDockerfile
src/main/java/com/example/foominity/config/SecurityConfig.java

uploads/
src/main/java/com/example/reactbootserver/ReactBootServerApplication.java
src/main/java/com/example/reactbootserver/config/SecurityConfig.java
src/main/java/com/example/reactbootserver/config/jwt/JwtAccessDeniedHandler.java
src/main/java/com/example/reactbootserver/config/jwt/JwtAuthenticationEntryPoint.java
src/main/java/com/example/reactbootserver/config/jwt/JwtAuthenticationFilter.java
src/main/java/com/example/reactbootserver/config/jwt/JwtTokenProvider.java
src/main/java/com/example/reactbootserver/controller/BoardController.java
src/main/java/com/example/reactbootserver/controller/SignController.java
src/main/java/com/example/reactbootserver/domain/BaseEntity.java
src/main/java/com/example/reactbootserver/domain/Member.java
src/main/java/com/example/reactbootserver/domain/board/Board.java
src/main/java/com/example/reactbootserver/domain/board/Comment.java
src/main/java/com/example/reactbootserver/domain/enumPackage/Role.java
src/main/java/com/example/reactbootserver/domain/enumPackage/SocialType.java
src/main/java/com/example/reactbootserver/dto/board/BoardCreateRequest.java
src/main/java/com/example/reactbootserver/dto/board/BoardResponse.java
src/main/java/com/example/reactbootserver/dto/board/BoardUpdateRequest.java
src/main/java/com/example/reactbootserver/dto/comment/CommentRequest.java
src/main/java/com/example/reactbootserver/dto/comment/CommentResponse.java
src/main/java/com/example/reactbootserver/dto/sign/SignInRequest.java
src/main/java/com/example/reactbootserver/dto/sign/SignInResponse.java
src/main/java/com/example/reactbootserver/dto/sign/SignUpRequest.java
src/main/java/com/example/reactbootserver/dto/sign/UserInfoResponse.java
src/main/java/com/example/reactbootserver/exception/ForbiddenActionException.java
src/main/java/com/example/reactbootserver/exception/MemberEmailAlreadyExistsException.java
src/main/java/com/example/reactbootserver/exception/MemberNicknameAlreadyExistsException.java
src/main/java/com/example/reactbootserver/exception/NotFoundBoardException.java
src/main/java/com/example/reactbootserver/exception/NotFoundMemberException.java
src/main/java/com/example/reactbootserver/exception/NotFoundRoleIdException.java
src/main/java/com/example/reactbootserver/exception/NotLoginException.java
src/main/java/com/example/reactbootserver/exception/SignInFailureException.java
src/main/java/com/example/reactbootserver/exception/UnauthorizedException.java
src/main/java/com/example/reactbootserver/handler/GlobalExceptionHandler.java
src/main/java/com/example/reactbootserver/repository/BoardRepository.java
src/main/java/com/example/reactbootserver/repository/CommentRepository.java
src/main/java/com/example/reactbootserver/repository/MemberRepository.java
src/main/java/com/example/reactbootserver/repository/SignRepository.java
src/main/java/com/example/reactbootserver/service/BoardService.java
src/main/java/com/example/reactbootserver/service/CommentService.java
src/main/java/com/example/reactbootserver/service/SignService.java
node_modules
